1. Import `pandas`.

In [2]:
import pandas as pd

2. Load the data from the *flats.csv* file into the variable and display the first 5 rows.

In [3]:
df = pd.read_csv('flats.csv', index_col='Id')

df.head()

,Unnamed: 0,Expected,Rooms,SqrMeters,Floor,Location
Id,,,,,,
1,0,269000,3,55.00,1,Poznań Zawady
2,1,320000,3,79.00,10,Poznań Rataje ul. Orła Bialego
3,2,146000,1,31.21,1,Poznań Nowe Miasto ul. Kawalerka W Nowym Bloku...
4,3,189000,2,44.00,2,Poznań Grunwald Ogrody Jeżyce Centrum Łazarz u...
5,4,480240,2,65.25,1,Poznań ul. Droga Dębińska 19

3. Find out how many room apartments are the most popular and how many there are.

In [21]:
df['Rooms'].value_counts()

2     2208
3     1553
1      620
4      523
5       81
6       13
10       1
7        1
Name: Rooms, dtype: int64

4. Find the 10 cheapest apartments.

In [26]:
df.sort_values(by=['Expected']).head(10)

,Unnamed: 0,Expected,Rooms,SqrMeters,Floor,Location
Id,,,,,,
972,971,1,5,99.76,1,Poznań Kameralne Osiedle Domów Energooszczędny...
4529,4528,4000,3,85.50,2,Poznań ul. Ułańska
1176,1175,68000,1,33.10,1,Poznań Naramowice ul. Naramowicka
4890,4889,79000,2,38.10,10,Poznań Nowe Miasto ul. Katowicka
471,470,85000,1,37.00,3,Poznań Nowe Miasto ul. Folwarczna
899,898,90000,1,24.26,4,Poznań Jeżyce ul. Szamarzewskiego
2056,2055,94000,2,54.00,2,Poznań Okolica Rybno Rybno ul. Kłecko
4724,4723,98000,2,50.00,1,Poznań Wilda ul. Robocza/Sikorskiego
3551,3550,98000,2,53.00,2,Poznań Koziegłowy ul. Os. Leśne
912,911,99000,2,40.50,3,Poznań Nowe Miasto ul. Katowicka

5. Write a function ``find_borough(desc)`` that takes 1 *string* argument and returns one of the districts defined in the ``boroughs`` list. The function is to return the first (in order) name of the district, which is contained in ``desc``. If no name is found, return *Other*.

In [4]:
def find_borough(desc):
    boroughs = ['Stare Miasto',
                 'Wilda',
                 'Jeżyce',
                 'Rataje',
                 'Piątkowo',
                 'Winogrady',
                 'Miłostowo',
                 'Dębiec']
    for item in boroughs:
        if item in desc:
            return item
    return 'Other'

6. Add the ``Borough`` column which will contain the information about the districts and will be derived from the ``Localization`` column. Use the ``find_borough`` function for this.

In [5]:
df['Borough'] = df['Location'].apply(find_borough) 
df

,Unnamed: 0,Expected,Rooms,SqrMeters,Floor,Location,Borough
Id,,,,,,,
1,0,269000,3,55.00,1,Poznań Zawady,Other
2,1,320000,3,79.00,10,Poznań Rataje ul. Orła Bialego,Rataje
3,2,146000,1,31.21,1,Poznań Nowe Miasto ul. Kawalerka W Nowym Bloku...,Other
4,3,189000,2,44.00,2,Poznań Grunwald Ogrody Jeżyce Centrum Łazarz u...,Jeżyce
5,4,480240,2,65.25,1,Poznań ul. Droga Dębińska 19,Other
...,...,...,...,...,...,...,...
4996,4995,405000,3,77.97,3,Poznań Nowe Miasto ul. Ul. Milczańska 1,Other
4997,4996,330000,3,64.00,2,Poznań Piątkowo ul. Os.Śmiałego,Piątkowo
4998,4997,460000,4,110.00,1,Poznań Grunwald Wiry Plewiska Komorniki ul. No...,Other
4999,4998,435000,3,64.00,2,Poznań Nowe Miasto ul. Smolna,Other
5000,4999,208000,1,27.80,1,Poznań Wilda ul. 28 Czerwca 1956 R.,Wilda

7. Calculate the average price per square meter for the entire dataset and for individual districts.

In [32]:
mean_for_all = round((df['Expected'].sum() / df['SqrMeters'].sum()),2)


expected_sum = df.groupby('Borough')['Expected'].sum()
sqrMeters_sum = df.groupby('Borough')['SqrMeters'].sum()

mean_by_Borough = round(expected_sum / sqrMeters_sum, 2)
mean_by_Borough

Borough
Dębiec          4746.42
Inne            5598.26
Jeżyce          5360.16
Piątkowo        5689.68
Rataje          5380.32
Stare Miasto    7440.22
Wilda           5261.15
Winogrady       9622.27
dtype: float64

8. Find the average price of an n-room apartment.

In [67]:
n = 2
round(df[df['Rooms'] == n]['Expected'].mean(),2)

303861.86

9. Find neighborhoods that contain 13th floor apartment listings.

In [70]:
df.query('Floor == 13')['Borough']

Id
2196       Winogrady
2774    Stare Miasto
Name: Borough, dtype: object

10. Find all the ads for apartments in Winogrady, with 3 rooms and on the 1st floor.

In [68]:
df.query('Floor == 1 & Rooms == 3 & Borough == "Winogrady"')

,Unnamed: 0,Expected,Rooms,SqrMeters,Floor,Location,Borough
Id,,,,,,,
106,105,275000,3,53.00,1,Poznań Winogrady ul. Oś. Zwycięstwa 26,Winogrady
176,175,326073,3,53.02,1,Poznań Winogrady ul. Hawelańska,Winogrady
522,521,359000,3,68.00,1,Poznań Winogrady,Winogrady
619,618,300685,3,49.70,1,Poznań Winogrady ul. Hawelańska,Winogrady
775,774,408456,3,65.88,1,Poznań Winogrady ul. Hawelańska,Winogrady
797,796,279000,3,48.00,1,Poznań Winogrady ul. Winogrady,Winogrady
846,845,280000,3,48.00,1,Poznań Winogrady ul. Os. Przyjaźni,Winogrady
864,863,342000,3,84.00,1,Poznań Winogrady ul. Powstańców Warszawy,Winogrady
870,869,314782,3,52.03,1,Poznań Winogrady ul. Hawelańska,Winogrady
941,940,312967,3,51.73,1,Poznań Winogrady ul. Hawelańska,Winogrady
969,968,285000,3,53.00,1,Poznań Winogrady ul. Osiedle Zwycięstwa,Winogrady
1107,1106,288446,3,48.35,1,Poznań Winogrady ul. Hawelańska,Winogrady
1134,1133,279000,3,47.60,1,Poznań Winogrady ul. Os. Przyjaźni,Winogrady
1374,1373,299000,3,57.17,1,Poznań Winogrady ul. Hawelańska,Winogrady
1392,1391,320771,3,53.02,1,Poznań Winogrady ul. Hawelańska,Winogrady
1411,1410,310401,3,52.03,1,Poznań Winogrady ul. Hawelańska,Winogrady
1477,1476,399000,3,80.00,1,Poznań Piatkowo Winogrady Naramowice Sołacz Wi...,Winogrady
1486,1485,265000,3,52.80,1,Poznań Winogrady ul. Wichrowe Wzgóze,Winogrady
1520,1519,408456,3,65.88,1,Poznań Winogrady ul. Lechicka Okolice,Winogrady
1707,1706,329271,3,53.54,1,Poznań Winogrady ul. Hawelańska,Winogrady
1904,1903,328636,3,54.32,1,Poznań Winogrady ul. Hawelańska,Winogrady
2046,2045,275397,3,44.78,1,Poznań Winogrady ul. Hawelańska,Winogrady
2070,2069,308066,3,50.92,1,Poznań Winogrady ul. Hawelańska,Winogrady
2274,2273,480000,3,62.77,1,Poznań Winogrady ul. Naramowicka,Winogrady
2304,2303,380932,3,64.13,1,Poznań Winogrady ul. Hawelańska,Winogrady
2325,2324,303779,3,50.92,1,Poznań Winogrady ul. Hawelańska,Winogrady
2356,2355,331816,3,56.24,1,Poznań Winogrady ul. Hawelańska,Winogrady
2417,2416,310673,3,50.93,1,Poznań Winogrady ul. Lechicka Okolice,Winogrady
2660,2659,329000,3,75.00,1,Poznań Winogrady ul. Idealne 3 Pok. Na Biuro,Winogrady
2741,2740,288446,3,48.35,1,Poznań Winogrady,Winogrady
2834,2833,320000,3,53.00,1,Poznań Winogrady ul. Os. Zwycięstwa,Winogrady
2836,2835,326761,3,54.01,1,Poznań Winogrady ul. Hawelańska,Winogrady
3155,3154,350000,3,76.80,1,Poznań Winogrady ul. Wilczak,Winogrady
3366,3365,334928,3,55.36,1,Poznań Winogrady ul. Hawelańska,Winogrady
3380,3379,292518,3,48.35,1,Poznań Winogrady ul. Hawelańska,Winogrady
3407,3406,319000,3,64.90,1,Poznań Winogrady ul. Os. Wichrowe Wzgórze,Winogrady
3501,3500,320000,3,53.00,1,Poznań Winogrady,Winogrady
3600,3599,339000,3,58.00,1,Poznań Winogrady ul. Strzeszynska Winogrady Po...,Winogrady
3751,3750,213000,3,59.30,1,Poznań Winogrady ul. Hawelańska,Winogrady
4035,4034,419000,3,78.00,1,Poznań Sołacz Bonin Winiary Winogrady Piątko u...,Winogrady
4134,4133,359000,3,59.00,1,Poznań Winogrady ul. Piątkowska Ataner,Winogrady
4245,4244,323917,3,53.54,1,Poznań Winogrady ul. Hawelańska,Winogrady
4292,4291,312442,3,51.22,1,Poznań Winogrady ul. Lechicka Okolice,Winogrady
4315,4314,295068,3,49.46,1,Poznań Winogrady ul. Hawelańska,Winogrady
4431,4430,285000,3,53.00,1,Poznań Winogrady,Winogrady
4494,4493,308611,3,51.73,1,Poznań Winogrady ul. Hawelańska,Winogrady
4537,4536,285000,3,48.00,1,Poznań Winogrady,Winogrady
4570,4569,344101,3,56.41,1,Poznań Winogrady ul. Hawelańska,Winogrady
4679,4678,329000,3,75.20,1,Poznań Winogrady ul. Wilczak Dopłata W Mdm,Winogrady
4717,4716,358765,3,59.30,1,Poznań Winogrady ul. Hawelańska,Winogrady
4970,4969,296560,3,49.71,1,Poznań Winogrady ul. Hawelańska,Winogrady